.body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 90vh;
  box-sizing: border-box;
  background-image: url("../assets/caveman_tetris_background.jpg");
  background-size: cover;
  background-position: 1px;
}