.game {
  display: flex;
  gap: 20px;
}

.boardWrap {
  position: relative;
  height: fit-content;
  width: fit-content;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 75vh;
  width: fit-content;
}

.cell {
  height: calc(75vh/20);
  aspect-ratio: 1/1;
  background-color: rgb(0, 0, 0, 0.4);
  outline: solid rgb(61, 61, 61) 1px;
  box-sizing: border-box;
}

.cell.highlight, #I.highlight, #J.highlight, #L.highlight, #O.highlight, #S.highlight, #T.highlight, #Z.highlight {
  border: 2px solid rgb(31, 194, 31);
  z-index: 2;
  border-radius: 4px;
}

#I, #J, #L, #O, #S, #T, #Z {
  border: 2px solid #555;
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-size: 500%;
}

#I {
  background-image: url("../assets/rock-texture-1.png");
  background-color: rgb(80, 227, 230);
}

#J {
  background-image: url("../assets/rock-texture-2.png");
  background-color: rgb(36, 95, 223);
}

#L {
  background-image: url("../assets/rock-texture-3.png");
  background-color: rgb(223, 173, 36);
}

#O {
  background-image: url("../assets/rock-texture-4.png");
  background-color: rgb(223, 217, 36);
}

#S {
  background-image: url("../assets/rock-texture-5.png");
  background-color: rgb(48, 211, 56);
}

#T {
  background-image: url("../assets/rock-texture-6.png");
  background-color: rgb(132, 61, 198);
}

#Z {
  background-image: url("../assets/rock-texture-7.png");
  background-color: rgb(227, 78, 78);
}

@keyframes boardShake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.board.shake {
  animation: boardShake 0.5s;
  animation-iteration-count: infinite;
}