@font-face {
  font-family: 'Caveman';
  src: url("../assets/CAVEMAN_.TTF") format('truetype');
  font-weight: 700;
  font-style: normal;
}

.header {
  height: 10vh;
  background-color: transparent;
  display: flex;
  place-content: center;
}

.title {
  font-family: 'Caveman', sans-serif;
  font-size: 8vh;
  color: rgb(75, 75, 75);
}

