@font-face {
  font-family: PaintSubfont;
  src: url('../assets/PaintSubfont.ttf');
}

@font-face {
  font-family: Caveman;
  src: url("../assets/CAVEMAN_.TTF") format('truetype');
  font-weight: 700;
  font-style: normal;
}

.infoModal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.infoBody {
  position: relative;
  width: 40vw;
  height: fit-content;
  background-color: rgb(219, 152, 111);
  clip-path: polygon(
    0% 2%, 10% 4%, 30% 0%, 50% 3%, 70% 2%, 90% 0%, 
    100% 20%, 98% 40%, 100% 60%, 98% 80%, 
    90% 97%, 80% 99%, 70% 100%, 60% 99%, 50% 100%, 40% 99%, 30% 100%, 20% 99%, 10% 97%, 
    0% 90%, 2% 60%, 0% 40%, 2% 20%
  );
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoTitle, .closeInfo {
  font-weight: bold;
  font-size: 32px;
  font-family: Caveman, sans-serif;
  color: black;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoBullet {
  font-size: 18px;
  font-family: PaintSubFont, sans-serif;
  color: black;
}

.closeInfo {
  position: absolute;
  top: 32px;
  right: 64px;
  background-color: transparent;
  padding: 0px;
  border: none;
  outline: none;
  transition: 0.2s ease-in-out;
}

.closeInfo:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.closeInfo:focus {
  outline: none;
  border: none;
}

.confusedCaveman {
  position: absolute;
  right: 20%;
  top: 15%;
  width: 30%;
}