.display {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: calc(75vh/5);
}

.displayCell {
  height: calc(75vh/20);
  aspect-ratio: 1/1;
  background-color: rgb(0, 0, 0, 0.4);
  box-sizing: border-box;
  outline: solid rgb(61, 61, 61) 1px;
}